name: Rust

on:
  push:
    branches: [ lg-tests ]
  pull_request:
    branches: [ lg-tests ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: cargo test --verbose
