[Unit]
Description=0L Node Service

[Service]
LimitNOFILE=200000

WorkingDirectory=%h/.0L
ExecStart=%h/bin/diem-node --config %h/.0L/validator.node.yaml

Restart=always
RestartSec=10s

# Make sure you CREATE the directory and file for your node.log
StandardOutput=file:%h/.0L/logs/node.log
StandardError=file:%h/.0L/logs/node.log

[Install]
WantedBy=multi-user.target
Alias=diem-node.service