[package]
name = "smoke-test"
version = "0.1.0"
authors = ["Diem Association <opensource@diem.org>"]
description = "Diem smoke test"
repository = "https://github.com/diem/diem"
homepage = "https://diem.org"
license = "Apache-2.0"
publish = false
edition = "2018"

[dev-dependencies]
anyhow = "1.0.33"
hex = "0.4.2"
once_cell = "1.4.1"
num = "0.3.0"
num-traits = "0.2.12"
rand = "0.7.3"
regex = "1.3.9"
rust_decimal = "1.8.1"
statistical = "1.0.0"

backup-cli = { path = "../../storage/backup/backup-cli", version = "0.1.0" }
cli = { path = "../cli", version = "0.1.0", features = ["fuzzing"]  }
debug-interface = { path = "../../common/debug-interface", version = "0.1.0" }
generate-key = { path = "../../config/generate-key", version = "0.1.0" }
lcs = { path = "../../common/lcs", version = "0.1.0", package = "diem-canonical-serialization" }
diem-config = { path = "../../config", version = "0.1.0" }
diem-crypto = { path = "../../crypto/crypto", version = "0.1.0" }
diem-genesis-tool = {path = "../../config/management/genesis", version = "0.1.0", features = ["testing"] }
diem-global-constants = { path = "../../config/global-constants", version = "0.1.0" }
diem-infallible = { path = "../../common/infallible", version = "0.1.0" }
diem-json-rpc = { path = "../../json-rpc", version = "0.1.0" }
diem-key-manager = { path = "../../secure/key-manager", version = "0.1.0" }
diem-logger = { path = "../../common/logger", version = "0.1.0" }
diem-management = { path = "../../config/management", version = "0.1.0", features = ["testing"] }
diem-network-address = { path = "../../network/network-address", version = "0.1.0" }
diem-operational-tool = {path = "../../config/management/operational", version = "0.1.0", features = ["testing"] }
diem-secure-json-rpc = { path = "../../secure/json-rpc", version = "0.1.0" }
diem-secure-time = { path = "../../secure/time", version = "0.1.0" }
diem-secure-storage = { path = "../../secure/storage", version = "0.1.0", features = ["testing"] }
diem-swarm = { path = "../diem-swarm", version = "0.1.0"}
diem-temppath = { path = "../../common/temppath", version = "0.1.0" }
diem-trace = { path = "../../common/trace", version = "0.1.0" }
diem-transaction-replay = { path = "../../language/diem-tools/transaction-replay", version = "0.1.0" }
diem-types = { path = "../../types", version = "0.1.0" }
diem-vault-client = { path = "../../secure/storage/vault", version = "0.1.0", features = ["fuzzing"] }
diem-workspace-hack = { path = "../../common/workspace-hack", version = "0.1.0" }
transaction-builder = { path = "../../language/transaction-builder", version = "0.1.0" }
