[Unit]
Description=Libra Node Service

[Service]
WorkingDirectory=/root/libra/my_configs
ExecStart=/root/libra/target/release/libra-node --config /root/libra/my_configs/node.configs.toml

Restart=always
RestartSec=1s

# Make sure you CREATE the directory and file for your output.log
StandardOutput=file:/root/libra/output-libra-node.log
StandardError=file:/root/libra/output-libra-node.log

[Install]
WantedBy=multi-user.target
Alias=libra-node.service